@import 'mixins';
@import 'variables';

@import 'vendor/breakpoint';

/**
 * components/header
 */
.header {
	&__content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		left: 0;
		right: 0;
	}
}

.email-form {
	.placeholder { 
		color: $color-placeholder; 
	}
}

.navigation {
	&__items {
		display: block;
		position: static;
		text-align: center;
	}
	
	&__item {
		display: inline-block;
		color: #fff;
		position: relative;
	}

	&--fixed {
		.navigation__items {
			padding: 0;
			margin: 0;
			z-index: 10;
			position: relative;
			float: right;
		}

		.navigation__item {
			height: 55px;
		}

		.navigation__logo {
			display: block;
			float: left;
			width: 150px;

			a {
				width: 150px;
			}

			.media--svg {
				height: 58px;
				float: left;
				display: block;
			}

			h2.logo {
				float: left;
				display: block;
				padding: 10px 0;
				margin-left: 15px;
			}
		}
	}
}

/**
 * components/common
 */
.btn {
	&--primary {
		&:hover {
			background: #59cdf2;
		}
	}
}

/**
 * pages/home
 */
.about {
	&__text {
		position: relative;

		@include breakpoint($breakpoint-small) {
			position: static;
			width: 50%;
			float: left;
			box-sizing: border-box;
			max-width: 600px;
		}
	}

	&__caption {
		@include breakpoint($breakpoint-small) {
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			max-width: 440px;
		}
	}

	&__image {
		@include breakpoint($breakpoint-small) {
			width: 50%;
			float: left;
			box-sizing: border-box;
			
			img {
				transform: none;
				float: left;
			}
		}

		@include breakpoint($breakpoint-medium) {
			overflow: hidden;
			width: 100%;

			img {
				float: right;
				-ms-transform: translateX(15%);
			}
		}

		@include breakpoint($breakpoint-medium) {
			overflow: visible;
		}
	}
}

.platforms {
	overflow: auto;

	@include breakpoint($breakpoint-small) {
		overflow: hidden;
		text-align: center;
	}

	&__track {
		@include breakpoint($breakpoint-small) {
			width: 100%;
			max-width: 850px;
			display: inline-block;
			text-align: center;
		}
	}

	&__item {
		@include breakpoint($breakpoint-small) {
			display: inline-block;
			width: 33.33%;
		}
	}
}

.task-management {
	@include clearfix;

	@include breakpoint($breakpoint-small) {
		padding-top: 0;
	}

	&__text {
		@include breakpoint($breakpoint-small) {
			float: right;
			width: 46%;
			padding: 0;
			display: table;
			height: 530px;

			.paragraph {
				margin-bottom: 0;
				max-width: 500px;
			}
		}		
	}

	&__caption {
		@include breakpoint($breakpoint-small) {
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
			-ms-transform: translateY(-50%);
		}
	}

	&__image {
		@include breakpoint($breakpoint-small) {
			float: left;
			width: 48%;
			padding: 0;
			position: relative;
			max-width: none;
			text-align: center;
		}
	}
}

.features {
	@include clearfix;
	display: block;
	width: 100%;
	padding: 50px 0;

	@include breakpoint($breakpoint-small) {
		padding: 120px 0;
	}
}

.feature {
	float: left;
	width: 28%;
}

.sharing {
	&__title {
		float: left;
	}

	&__icon {
		float: left;

		.media--svg {
			height: 20px;
		}
	}
}