$color-primary: #2ebcea;
$color-secondary: #243139;
$color-text: #060606;
$color-text-desktop: #252c2e;
$color-facebook: #3563e7;
$color-twitter: #25b3f3;

$color-placeholder: #8d9ea4;

$breakpoint-iphone6: 360px; // 360px to include full HD devices
$breakpoint-landscape: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 1280px;
$breakpoint-large: 1440px;