.about {
	@extend .wrapper;
	@include clearfix;
	padding-top: 50px;
	overflow: hidden;

	@include breakpoint($breakpoint-small) {
		padding: 120px 0 120px 15px;
	}

	@include breakpoint($breakpoint-medium) {
		padding: 140px 0 140px 15px;
	}

	.content {
		@include breakpoint($breakpoint-small) {
			display: flex;
			align-items: center;
			justify-content: space-between;			
		}
	}

	&__text {
		padding: 0 30px;

		@include breakpoint($breakpoint-small) {
			width: 50%;
			max-width: 440px;
			padding-left: 50px;
		}

		@include breakpoint($breakpoint-medium) {
			padding-left: 120px;	
		}
	}

	&__image {
		padding-bottom: 40px;

		@include breakpoint($breakpoint-small) {
			width: 50%;
			overflow: hidden;
			padding-bottom: 0;

			img {
				max-width: none;
				width: 500px;
			}
		}

		@include breakpoint(992px) {
			img {
				width: 600px;
			}
		}

		@include breakpoint($breakpoint-medium) {
			overflow: visible;

			img {
				float: right;
				transform: translateX(15%);
				width: 750px;
			}
		}
	}

	&__btn {
		margin-bottom: 30px;

		@include breakpoint($breakpoint-small) {
			margin-bottom: 0;
		}
	}
}

.everywhere {
	@extend .wrapper;
	background: $color-primary;
	padding: 50px 0 0 15px;

	@include breakpoint($breakpoint-small) {
		padding: 105px 0;
	}

	@include breakpoint($breakpoint-medium) {
		padding: 105px 150px;
	}
	
	&__text {
		padding: 0 45px 0 30px;

		@include breakpoint($breakpoint-small) {
			padding: 0 30px;
			text-align: center;
			max-width: 650px;
			margin: 0 auto;
		}
	}

	h2.title,
	h3.title {
		@include breakpoint($breakpoint-small) {
			font-weight: 500;
		}
	}	
}

.platforms {
	overflow: auto;
	padding-bottom: 40px;

	&__track {
		@include clearfix;
		width: 695px;
		padding-left: 30px;

		@include breakpoint($breakpoint-small) {
			width: calc(100% - 60px);
			display: flex;
			margin: 30px auto 0;
			padding: 0;
			align-items: center;
			justify-content: space-between;
			overflow: hidden;
		}
	}

	&__item {
		display: block;
		float: left;
		padding-right: 65px;
		flex: 1;

		@include breakpoint($breakpoint-small) {
			padding-right: 0;
		}

		&:last-child {
			padding-right: 50px;

			@include breakpoint($breakpoint-small) {
				padding-right: 0;
			}
		}
	}

	&__caption {
		text-align: center;
	}

	&__image {
		margin-bottom: 25px;

		&--mobile {
			width: 100px;
		}

		&--desktop {
			width: 246px;
		}
	
		&--web {
			width: 169px;
		}

		@include breakpoint($breakpoint-small) {
			margin: 0 auto 30px;
		}
	}
}

.task-management {
	@extend .wrapper;
	padding-top: 50px;
	background: #f6f9fa;	

	@include breakpoint($breakpoint-small) {
		padding-top: 0;
	}

	.content {
		@include breakpoint($breakpoint-small) {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-around;
		}
	}

	&__text {
		padding: 0 30px;

		@include breakpoint($breakpoint-small) {
			width: 52%;

			.paragraph {
				margin-bottom: 0;
				max-width: 500px;
			}
		}
	}

	&__image {
		padding: 0 30px;
		max-width: 197px;

		@include breakpoint($breakpoint-iphone6) {
			max-width: 227px;
		}

		@include breakpoint($breakpoint-small) {
			max-width: 385px;
		}
	}
}

.features {
	padding-top: 50px;	
	padding-bottom: 20px;

	@include breakpoint($breakpoint-small) {
		padding: 120px 15px;
	}

	@include breakpoint($breakpoint-medium) {
		padding: 150px;
	}

	.content {
		@include breakpoint($breakpoint-small) {
			display: flex;
			max-width: 960px;
		}
	}
}

.feature {
	padding: 0 30px;

	@include breakpoint($breakpoint-small) {
		text-align: center;
		padding: 0 20px;
		width: 33.33%;
	}

	&__icon {
		margin-bottom: 10px;

		@include breakpoint($breakpoint-small) {
			margin: 0 auto 50px;
		}
	}

	&--search {
		.feature__icon {
			max-width: 40px;

			@include breakpoint($breakpoint-small) {
				max-width: 150px;
			}
		}
	}

	&--messaging {
		.feature__icon {
			max-width: 60px;

			@include breakpoint($breakpoint-small) {
				max-width: 150px;
			}
		}
	}

	&--sharing {
		.feature__icon {
			max-width: 30px;

			@include breakpoint($breakpoint-small) {
				max-width: 150px;
			}
		}
	}

	h2.title {
		padding-bottom: 5px;

		@include breakpoint($breakpoint-small) {
			padding-bottom: 25px;
			font-size: 24px;
		}
	}

	&__text {
		@include breakpoint($breakpoint-small) {
			max-width: 255px;
			margin: 0 auto;
		}

		.paragraph {
			@include breakpoint($breakpoint-small) {
				margin-bottom: 0;
				font-size: 16px;	
			}

			@include breakpoint($breakpoint-small) {
				line-height: 24px;
			}
		}
	}
}

