img {
	display: block;
}

.wrapper {
	padding: 0 15px;
	position: relative;
	margin: 0 auto;

	@include breakpoint($breakpoint-medium) {
		padding: 0 30px;
	}
}

.content {
	margin: 0 auto;
	@include breakpoint($breakpoint-large) {
		max-width: 1200px;
		width: 100%;
	}
}

.hidden--mobile {
	display: none;

	@include breakpoint($breakpoint-small) {
		display: inherit;
	}
}

.hidden--tablet {
	@include breakpoint($breakpoint-small) {
		display: none;
	}
}

.btn {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	line-height: 45px;
	padding: 0 35px;
	display: inline-block;
	text-decoration: none;
	outline: none;

	@include breakpoint($breakpoint-small) {
		font-size: 16px;
	}

	span {
		position: relative;
		z-index: 4;
		text-shadow: 1px 1px 3px rgba(0,0,0,.1);
	}

	&--effect {
		&:after {
			position: absolute;
			z-index: 3;
			content: '';
			width: 0;
			height: 0;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			background: #fff;
			transition: .4s ease all;
			transform: translateX(-50%) translateY(-50%);
		}

		&:hover {
			&:after {
				width: 70px;
				height: 70px;
			}
		}

		&:active {
			background: #0090be;

			&:after {
				display: none;
			}
		}
	}

	&--primary {
		background: $color-primary;
		color: #fff;
		@extend .btn--effect;

		&:after {
			background: #59cdf2;
		}

		&:hover {
			&:after {
				width: 240px;
				height: 240px;
			}
		}
	}

	&--facebook {
		border-radius: 3px;
		color: #fff;
		padding: 3px 15px;
		background: $color-facebook;
		margin-right: 10px;
		line-height: 44px;
		font-size: 13px;
		text-align: center;
		@extend .btn--effect;

		&:after {
			background: #004cca;
		}

		&:hover {
			&:after {
				width: 300px;
				height: 300px;
			}
		}

		&:active {
			background: #0041bc;

			&:after {
				display: none;
			}
		}
	}

	&--twitter {
		@extend .btn--facebook;
		background: $color-twitter;
		margin-right: 0;

		&:after {
			background: #52ceff;
		}

		&:active {
			background: #0098d6;

			&:after {
				display: none;
			}
		}
	}
}

.media {
	&--picture {
		max-width: 100%;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&--svg {
		width: 100%;
		height: auto;
	}
}

.email-form {
	background: #fff;
	padding: 0 0 0 13px;
	margin: 0 auto;
	width: calc(100% - 13px);
	border-radius: 3px;
	overflow: hidden;
	max-width: 425px;
	position: relative;
	z-index: 3;
	@include clearfix;

	@include breakpoint($breakpoint-small) {
		width: calc(100% - 20px);
		padding-left: 20px;
	}

	@include breakpoint($breakpoint-large) {
		max-width: 460px;
	}

	&__input {
		padding: 0;
		margin: 0;
		background: none;
		border: 0;
		color: $color-text;
		line-height: 40px;
		height: 40px;
		width: 70%;
		display: block;
		float: left;
		outline: none;

		&:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0px 1000px white inset;
		    -webkit-text-fill-color: $color-text !important;
		}

		&.parsley-error {
			color: #dc0808;
		}
		
		@include placeholder {
			color: $color-placeholder;
		}

		@include breakpoint($breakpoint-small) {
			line-height: 50px;
			height: 50px;
		}

		@include breakpoint($breakpoint-small) {
			font-size: 15px;
		}
	}

	&__submit {
		padding: 0;
		margin: 0;
		width: 30%;
		display: block;
		float: left;
		line-height: 40px;
		background: $color-primary;
		color: #fff;
		border: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;

		@include breakpoint($breakpoint-small) {
			line-height: 50px;
		}
	}

	.parsley-errors-list {
		display: none;
	}
}

.signup-form {
	position: relative;

	.email-success {
		top: -20px;
		display: none;

		@include breakpoint($breakpoint-small) {
			top: -30px;
		}

		&__text {
			padding: 15px 0;
		}
	}

	&--footer {
		&.signup-form--success {
			margin-bottom: 220px;

			@include breakpoint($breakpoint-small) {
				margin-bottom: 120px;
			}
		}

		.email-success {
			&__text {
				color: #fff;
				padding: 30px 30px 0;
			}
		}

		.email-success__button {
			display: block;
			margin: 0 30px 20px;

			@include breakpoint($breakpoint-landscape) {
				display: inline-block;
				margin: 0 5px 20px;
			}

			@include breakpoint($breakpoint-small) {
				display: inline-block;
				margin: 0 3px;
			}
		}
	}
}

.email-success {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	color: rgba(255,255,255,.6);
	font-size: 16px;
}
