.signup {
	@extend .wrapper;
	background: $color-secondary;
	padding-top: 50px;

	@include breakpoint($breakpoint-small) {
		padding-top: 120px;
		text-align: center;
	}

	&__text {
		padding: 0 30px;

		@include breakpoint($breakpoint-small) {
			text-align: center;
			margin: 0 auto;

			.title {
				font-size: 34px;
				margin-bottom: 35px;
			}
		}
	}

	.paragraph.hidden--mobile {
		max-width: 620px;
		margin: 0 auto;
	}

	.email-form {
		@include breakpoint($breakpoint-small) {
			margin-bottom: 35px;
		}
	}
}

.signup-form--success {
	> .paragraph,
	.hidden--tablet {
		display: none;
	}
}

.sharing {
	@include clearfix;
	max-width: 195px;
	margin: 30px auto 0;
	padding-bottom: 50px;
	display: flex;

	@include breakpoint($breakpoint-small) {
		max-width: 220px;
		margin-top: 75px;
	}

	&__title {
		margin-right: 20px;
		color: #fff;
		font-weight: 300;

		@include breakpoint($breakpoint-small) {
			line-height: 10px;
		}
	}

	&__icon {
		border: 2px solid #fff;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		text-align: center;
		margin-right: 10px;
		transition: .2s ease all;
		position: relative;
		overflow: hidden;
		@extend .btn--effect;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			path {
				fill: $color-secondary !important;
				position: relative;
			}
		}

		.media--svg {
			margin-top: 15px;
			max-width: 20px;
			display: inline-block;
			position: relative;
			z-index: 10;

			path {
				transition: .15s ease all;
			}
		}

		.st0 {
			display: inherit;
		}

		a {
			display: block;
		}
	}
}