.header {
	@extend .wrapper;
	background: url('/img/hero_small.jpg');
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	z-index: 10;

	@media (-webkit-min-device-pixel-ratio: 1.5) {
		background-image: url('/img/hero_small@2x.jpg');
	}

	@include breakpoint($breakpoint-landscape) {
		background-image: url('/img/hero_medium.jpg');

		@media (-webkit-min-device-pixel-ratio: 1.5) {
			background-image: url('/img/hero_medium@2x.jpg');			
		}
	}

	@include breakpoint($breakpoint-large) {
		background-image: url('/img/hero_large.jpg');	
	}

	&__content {
		padding-bottom: 110px;
		text-align: center;
		width: 100%;	
	}

	.title {
		max-width: 220px;
		margin: 0 auto;
		display: inline-block;

		@include breakpoint($breakpoint-iphone6) {
			font-size: 24px;
			max-width: 250px;
		}

		@include breakpoint($breakpoint-small) {
			font-size: 28px;
			max-width: 500px;
		}

		@include breakpoint($breakpoint-large) {
			font-size: 38px;
			max-width: 670px;
			font-weight: 500;
		}
	}

	.email-form {
		@include breakpoint($breakpoint-iphone6) {
			max-width: 90%;
		}

		@include breakpoint($breakpoint-small) {
			max-width: 425px;
		}
	}
}

.site-logo {
	max-width: 90px;
	margin: 0 auto 30px;

	@include breakpoint($breakpoint-small) {
		max-width: 125px;
	}

	@include breakpoint($breakpoint-large) {
		max-width: 160px;
	}
}

.navigation {
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0;
	background: rgba(0,0,0,.6);
	transition: .15s ease background;
	height: 65px;
	z-index: 15;

	@include breakpoint($breakpoint-small) {
		transition: .15s ease all;
		height: 65px;
		margin-top: -65px;
	}

	@include breakpoint($breakpoint-large) {
		height: 100px;
		margin-top: -100px;
	}

	&__logo {
		display: none;

		a {
			display: inline-flex;
			text-decoration: none;
		}
	}

	.content {
		position: relative;

		@include breakpoint($breakpoint-small) {
			display: flex;
			align-items: space-around;
		}
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__item {
		height: 57px;
		line-height: 58px;
		color: #fff;
		text-decoration: none;
		width: 33.33%;
		padding: 4px 0 0;
		text-align: center;
		transition: .15s ease border-color;
		border-bottom: 4px solid transparent;

		@include breakpoint($breakpoint-small) {
			width: auto;
			padding: 5px 25px 0;
			margin: 0 5px;
			line-height: 54px;
			height: 55px;
			border-bottom-width: 5px;
			font-size: 14px;
		}

		@include breakpoint($breakpoint-medium) {
			padding: 5px 35px 0;
		}

		@include breakpoint($breakpoint-large) {
			font-size: 18px;
			height: 90px;
			line-height: 90px;
			padding: 5px 40px 0;
		}

		&--active,
		&:hover {
			border-color: $color-primary;
			transition: .15s ease border-color;
		}		

		&--disabled {
			border-color: transparent;
		}
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		margin-top: 0;
		background: #232323;

		@include breakpoint($breakpoint-medium) {
			height: 65px;
		}

		.navigation__logo {
			@include breakpoint($breakpoint-small) {
				display: flex;
				align-items: center;
				width: 100px;
				height: 35px;
				padding: 0 15px;
				margin: 0;
				height: 65px;

				.media--svg {
					width: 35px;
					margin: 3px 10px 0 0;
				}

				path {
					fill: $color-primary !important;
				}
			}

			@include breakpoint($breakpoint-medium) {
				padding: 0 30px;
			}
		}

		.navigation__items {
			overflow: hidden;

			@include breakpoint($breakpoint-small) {
				position: absolute;
				right: 10px;
				top: 0;
				bottom: 0;
				width: auto;
			}			

			&--hover {
				.navigation__item {
					border-color: transparent;
				}
			}
		}

		.navigation__item {
			line-height: 57px;
			height: 57px;
			padding-left: 25px;
			padding-right: 25px;

			&:hover {
				border-color: $color-primary !important;
			}
		}
	}	
}