body, html, input {
	font-family: 'museo-sans'; // typekit font
	font-size: 14px;

	@include breakpoint($breakpoint-small) {
		font-size: 18px;
	}
}

// Typekit "Flash of Unstyled Text" fix
.wf-loading {
	.title,
	.paragraph,
	span,
	a,
	input {
		opacity: 0;
	}
}
 
.wf-active .title,
.wf-active .paragraph {
	.title,
	.paragraph,
	span,
	a,
	input {
		opacity: 1;
	}
}

.title {
	margin: 0;
	padding: 0;

	&--primary {
		color: $color-text;
	}

	&--secondary {
		color: #fff;
	}

	&--500 {
		font-weight: 500;
	}
}

h1.title {
	font-size: 21px;
	padding-bottom: 25px;
}

h2.title {
	padding-bottom: 15px;
	font-size: 21px;

	@include breakpoint($breakpoint-small) {
		font-size: 32px;
	}
}

h2.logo {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}

h3.title {
	font-size: 17px;
	padding-bottom: 5px;	

	@include breakpoint($breakpoint-medium) {
		font-size: 20px;
	}
}

h4.title {
	font-size: 16px;
	font-weight: 300;

	@include breakpoint($breakpoint-medium) {
		font-size: 18px;
	}
}

.paragraph {
	margin: 0 0 30px 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;

	@include breakpoint($breakpoint-small) {
		font-size: 18px;
		line-height: 31px;
	}

	&--primary {
		color: $color-text;

		@include breakpoint($breakpoint-small) {
			color: $color-text-desktop;
		}		
	}

	&--secondary {
		color: #fff;
	}
}